/JavaApplication12/nbproject/private/
/VectorDrawingApplication/nbproject/private/
/VectorDrawingApplication/build/
/VectorDrawingApplication/PaintUML.drawio
/VectorDrawingApplication/PaintUML.drawio.crswap